



/* font icons fontawesome 6.4 version */
@font-face {
    font-family: "duotone";

    src: url(./webfonts/fa-duotone-900.woff2) format("woff2");
}

@font-face {
    font-family: "regular";

    src: url(./webfonts/fa-regular-400.woff2) format("woff2");
}

@font-face {
    font-family: "solid";
    src: url(./webfonts/fa-solid-900.woff2) format("woff2");
}

@font-face {
    font-family: "brands";
    src: url(./webfonts/fa-brands-400.woff2) format("woff2");
}

@font-face {
    font-family: "sharp";
    src: url(./webfonts/fa-sharp-light-300.woff2) format("woff2");
}

/* rupee icons */
.fa-rupee {
    font-family: "regular";
    font-style: normal;
    font-size: 13px;
}

.fa-rupee::before {
    content: "\e1bc";
}

/* share icon */
.fa-share-nodes {
    font-family: "solid";
    font-style: normal;
    font-size: 13px;
}

.fa-share-nodes::before {
    content: "\f1e0";
    color: #1e3050;
}

/* bookmark icon */

.fa-bookmark {
    font-family: "regular";
    font-style: normal;
    font-size: 13px;
}

.fa-bookmark::before {
    content: "\f02e";
}

/* graduation cap */
.fa-graduation-cap {
    font-family: "solid";
    font-style: normal;
    font-size: 16px;
    color: #1e3050;
}

.fa-graduation-cap::before {
    content: "\f19d";
}


/* Star box */
.star-box {
    padding: 3px;
    margin-right: 3px;
    border-radius: 5px;
}


/* with fill color star */
.fa-star {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #ffffff;
    font-size: 16px;
}

.fa-star::before {
    position: absolute;
    top: 0;
    content: "\f005"
}

.fa-star::after {
    content: "\f005\f005";
    opacity: 1;
}



/* experience icons */
.fa-experience {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 16px;
}

.fa-experience::before {
    position: absolute;
    top: 0;
    content: "\f0f0"
}

.fa-experience::after {
    content: "\f0f0\f0f0";
    opacity: 0.4;
}

/* no of ivf cycles icon */
.fa-baby {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 16px;
}

.fa-baby::before {
    position: absolute;
    top: 0;
    content: "\f77c"
}

.fa-baby::after {
    content: "\f77c\f77c";
    opacity: 0.4;
}

/* phone icon */
.fa-phone {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 16px;
}

.fa-phone::before {
    position: absolute;
    top: 0;
    content: "\f095"
}

.fa-phone::after {
    content: "\f095\f095";
    opacity: 0.4;
}

/* location icon */
.fa-location {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 16px;
}

.fa-location::before {
    position: absolute;
    top: 0;
    content: "\f3c5"
}

.fa-location::after {
    content: "\f3c5\f3c5";
    opacity: 0.4;
}

/* badge icon */
.fa-badge {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 16px;
}

.fa-badge::before {
    position: absolute;
    top: 0;
    content: "\f336"
}

.fa-badge::after {
    content: "\f336\f336";
    opacity: 0.4;
}

/* graduation cap icon */
.fa-graduation {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 16px;
}

.fa-graduation::before {
    position: absolute;
    top: 0;
    content: "\f19d"
}

.fa-graduation::after {
    content: "\f19d\f19d";
    opacity: 0.4;
}



/* info icon */
.fa-info {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 14px;
}

.fa-info::before {
    position: absolute;
    top: 0;
    content: "\f05a"
}

.fa-info::after {
    content: "\f05a\f05a";
    opacity: 0.4;
}

/* about icon */
.fa-about {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 14px;
}

.fa-about::before {
    position: absolute;
    top: 0;
    content: "\f007"
}

.fa-about::after {
    content: "\f007\f007";
    opacity: 0.4;
}

/* highlights icon */
.fa-highlights {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 14px;
}

.fa-highlights::before {
    position: absolute;
    top: 0;
    content: "\e1af"
}

.fa-highlights::after {
    content: "\e1af\e1af";
    opacity: 0.4;
}

/* consult icon */
.fa-consult {
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 14px;
}

.fa-consult::before {
    position: absolute;
    top: 0;
    content: "\f0f1"
}

.fa-consult::after {
    content: "\f0f1\f0f1";
    opacity: 0.4;
}

/* rating info icon */
.fa-rating-info{
    position: relative;
    font-family: "duotone";
    font-style: normal;
    color: #1e3050;
    font-size: 12px;
    margin: 0 10px;
    border-radius: 50%;
    height: 20px ;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-rating-info::before {
    position: absolute;
    top: 0;
    content: "\f129"
}

.fa-rating-info::after {
    content: "\f129\f129";
    opacity: 0.4;
}
.fa-rating-info:hover{
    background-color: #1e3050db;
}
 .fa-rating-info:hover::before,.fa-rating-info:hover::after{
    color: #fff;
}

/* facebook icon */
.fa-facebook-f {
    position: relative;
    font-family: "brands";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.fa-facebook-f::before {
    position: absolute;
    top: 0;
    content: "\f39e"
}

/* twitter icon */
.fa-twitter {
    position: relative;
    font-family: "brands";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.fa-twitter::before {
    position: absolute;
    top: 0;
    content: "\f099"
}

/* instagram icon */
.fa-instagram {
    position: relative;
    font-family: "brands";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.fa-instagram::before {
    position: absolute;
    top: 0;
    content: "\f16d"
}

/* globe icon */
.fa-globe {
    position: relative;
    font-family: "sharp";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.fa-globe::before {
    position: absolute;
    top: 0;
    content: "\f0ac"
}

/* youtube icon */
.fa-youtube {
    position: relative;
    font-family: "brands";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.fa-youtube::before {
    position: absolute;
    top: 0;
    content: "\f167"
}

/* whats app icon */
.fa-whatsapp {
    position: relative;
    font-family: "brands";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.fa-whatsapp::before {
    position: absolute;
    top: 0;
    content: "\f232"
}

/* telegram icon */
.fa-telegram {
    position: relative;
    font-family: "brands";
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

.fa-telegram::before {
    position: absolute;
    top: 0;
    content: "\f2c6"
}

/* footer icons */


.fa-s-bullhorn,.fa-s-phone, .fa-s-envelope {
    font-family: "solid";
    font-style:normal;
  }

  .fa-s-bullhorn::before {
    content: "\f0a1";
  }

  .fa-s-phone::before{
    content: "\f095";
  }

  .fa-s-envelope::before{
    content: "\f0e0";
  }

  /* carousel left and right button */
  .fa-car-right {
    font-family: "solid";
    font-style: normal;
    font-size: 14px;
    background-color: #999;
    padding: 2px 8px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
  }

  .fa-car-right::before {
    content: "\f0da";
    color: #fff;
  }

  .fa-car-left{

    font-family: "solid";
    font-style: normal;
    font-size: 14px;
    background-color: #999;
    padding: 2px 8px ;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.fa-car-left::before {
    content: "\f0d9";
    color: #fff;

}

.iti {
    width: 100%;
}